# Compiled class files
*.class

# Log files
*.log

# Temporary files
*.tmp

# Scala-IDE specific files
.cache-main
.scala_dependencies
.worksheet

# SBT specific files
target/
lib_managed/
src_managed/
project/target/
project/project/

# Eclipse specific files
.metadata/
*.tmp
*.bak
*.swp
*~.nib
local-history/

# IDEA specific files
.idea/
*.iws
*.iml
*.ipr

# VS Code specific files
.vscode/

# Mac specific files
.DS_Store

# Windows specific files
Thumbs.db

# Metals specific files
.metals/
.metals/**/*
.metals/**/.*.metals